/* 👉 Typography */
p:not(.neutral-color),
h1:not(.neutral-color),
h2:not(.neutral-color),
h3:not(.neutral-color),
h4:not(.neutral-color),
h5:not(.neutral-color),
h6:not(.neutral-color),
.text-h1:not(.neutral-color),
.text-h2:not(.neutral-color),
.text-h3:not(.neutral-color),
.text-h4:not(.neutral-color),
.text-h5:not(.neutral-color),
.text-h6:not(.neutral-color),
.text-button:not(.neutral-color),
.text-overline:not(.neutral-color),
.text-caption:not(.neutral-color),
.text-body-1:not(.neutral-color),
.text-body-2:not(.neutral-color),
.text-subtitle-1:not(.neutral-color),
.text-subtitle-2:not(.neutral-color) {
  color: rgba(var(--v-app-typography)) !important;
}

html,
#app .v-aplication {
  overflow-y: auto !important;
  /* user-select: none; */
}

.v-input--density-compact {
  --v-input-control-height: 25px !important;
}

.v-field {
  margin-bottom: 5px;
  margin-top: 5px;
}

.v-card,
.v-item-group {
  transition-duration: 0ms !important;
}

.v-btn {
  transition-property: transform;
  transition-duration: 0.2s;
}

.v-input__details {
  position: absolute;
  margin-top: 49px;
}

.v-field__outline {
  color: rgba(var(--v-field-outline));
}

.v-label.v-field-label {
  color: rgba(var(--v-field-label));
}

/* Ths fixes a strange white underline in text fields while using tailwind */
.v-field--variant-outlined .v-field__outline__notch {
  border-width: 0 0 0px !important;
}
